
<launch>
 
  <!-- Robot pose -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x" default="-0.0"/>
  <arg name="y" default="-0.5"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <!--include file="$(find my_robot)/launch/robot_description.launch"/-->

  <!-- World File -->
  <arg name="world_file" default="$(find turtlebot3_gazebo)/worlds/temp.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <!--arg name="world_name" value="$(arg world_file)"/-->
  </include>

  <!-- Find my robot Description-->
  <!--param name="robot_description" command="$(find xacro)/xacro inorder '$(find my_robot)/urdf/my_robot.xacro'"/-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!--node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" /-->

  <!-- Spawn My Robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model turtlebot3_$(arg model) 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
              -param robot_description"/>

  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"/>  

</launch>
